.input-wrapper {
    .radius-xs {
        border-radius: 0.125rem;
    }
    .radius-sm {
        border-radius: 0.25rem;
    }
    .radius-md {
        border-radius: 0.5rem;
    }
    .radius-lg {
        border-radius: 1rem;
    }
    .radius-xl {
        border-radius: 2rem;
    }
}
